<div class="app-body">
  <main class="main d-flex align-items-center">
    <div
      class="container"
    >
      <div class="row" style="box-shadow: 0 0 20px #a5acb9;">
        <div class="col-md-7" style="padding: 0;">
          <div class="card" style="width: 500px;">
            <div class="card-body">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1 class="text-center">Register</h1>
                <p class="text-muted text-center">
                  Create your account as {{ this.registerType }}
                </p>

                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fa fa-envelope-o"></i
                    ></span>
                  </div>
                  <input
                    type="email"
                    tabindex="1"
                    placeholder="Email address"
                    style="padding: 10px 12px; border: 1;"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="email"
                    tabindex="1"
                    placeholder="Full Name"
                    style="padding: 10px 12px; border: 1;"
                    formControlName="fullName"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">
                      Full Name is required
                    </div>
                  </div>
                </div>

                <div
                  class="form-group input-group mb-3 col"
                  style="padding: 0px;"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fa fa-asterisk"></i
                    ></span>
                  </div>

                  <input
                    type="password"
                    tabindex="3"
                    style="padding: 10px 12px; border: 1;"
                    placeholder="Enter password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div
                  class="form-group input-group mb-3 col"
                  style="padding: 0px;"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fa fa-asterisk"></i
                    ></span>
                  </div>

                  <input
                    type="password"
                    tabindex="3"
                    style="padding: 10px 12px; border: 1;"
                    placeholder="Confirm password"
                    formControlName="confirmPassword"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.confirmPassword.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.confirmPassword.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.confirmPassword.errors.required">
                      Confirm Password is required
                    </div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                      Password does'nt match
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button
                    tabindex="5"
                    style="margin: 2px; padding: 5px 40px 5px 40px;"
                    class="btn btn-success mb-2 mr-2"
                  >
                    Sign Up
                  </button>
                  <button
                    style="margin: 2px; padding: 5px 40px 5px 40px;"
                    [routerLink]="['/login']"
                    routerLinkActive="router-link-active"
                    class="btn btn-outline-primary ml-2 mb-2"
                    type="reset"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
