
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand ml-3" routerLink="/contact">DoodleBlue</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link " [routerLink]="['/dashboard/manager/tasks']" routerLinkActive="router-link-active" >Tasks</a>
        </li>
       <li>
        <a class="nav-link " [routerLink]="['/dashboard/manager/users']" routerLinkActive="router-link-active" >Users</a>
       </li>

      </ul>
      <div class="dropdown">
        <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  (click)="Profile.show()"aria-haspopup="true" aria-expanded="false">
          {{userprofileDetails.data?.fullName}}
        </button>

      </div>
      <div>

        <div
          bsModal
          #profile="bs-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
        >
          <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Your Profile</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <table class="table table-boderless">
                        <tbody>
                          <tr>
                            <td class="text-left">Full Name</td>
                            <td>{{userprofileDetails.data?.fullName}}</td>
                          </tr>
                          <tr>
                            <td class="text-left">Email</td>
                            <td>{{userprofileDetails.data?.email}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="Profile.hide()"
                  data-dismiss="modal"
                >
                  Okay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5">
  <div style="padding: 15px; max-width: 530px;">
    <span>
      <h4><i class="fa fa-tasks" aria-hidden="true"></i> Welcome {{userprofileDetails.data?.fullName}}</h4>
    </span>
    <p>welcome to Task Portal</p>
    <div class="input-group">
      <input
        style="background-color: #e9ecef;"
        placeholder="search..."
        class="form-control py-2 rounded-pill"
        type="search"
      />
      <span class="input-group-append">
        <button class="btn rounded-pill border-0 ml-n5" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
      <span>
        <button
          style="border-radius: 6px;"
          class="btn btn-primary ml-2"
          (click)="Model.show()"
        >
          <i class="fa fa-plus" aria-hidden="true"></i> Add Task
        </button>
      </span>
      <div class="text-right">
        <select class="dropdown-select w-100 pl-2" (change)="onChange($event.target.value)">
            <option value="Completed" default>Completed</option>
            <option value="Assigned">Assigned</option>
            <option value="Accepted">Accepted</option>
            <option value="Rejected">Rejected</option>
            <option value="Approved">Approved</option>

        </select>

    </div>
    </div>
  </div>
  <div class="card-body" style="padding: 10px; ">
    <div class="table-responsive table-body">
      <table class="table table-bordered table-hover table-md">
        <thead class="thead-light" style="text-align: center;">
          <tr>
            <th>Task Title</th>
            <th>Worker Assigned</th>
            <th>Task Expiry</th>
            <th>Points</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>
              heloo
            </td>
            <td>
              heloo
            </td>
            <td>
              heloo
            </td>
            <td>
              helloo
            </td>
            <td>
              <img src="../../../assets/delete-icon.svg" class="img-fluid" alt="delete icon"
                />
            </td>
          </tr>
          <!-- <tr
            *ngFor="
              let cust of contacts
                | paginate: { itemsPerPage: 2, currentPage: p };
              let i = index
            "
            [routerLink]="[i]"
            (click)="onclick(cust.fullname)"
            routerLinkActive="active"
          >
            <td>
              <button
                style="padding: 5px 7px; cursor: pointer;"
                class="btn btn-primary mt-3"
                (click)="Model.show()"
              >
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <span class="circle mr-2 pt-2">
                <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
              </span>
              <span class="text mt-1">
                <p>
                  <strong>{{ cust.fullname }}</strong>
                </p>
                <p class="email">{{ cust.email }}</p>
              </span>
            </td>
            <td class="text-center">
              <p>
                {{ cust.company }}
              </p>
            </td>
          </tr> -->
        </tbody>
      </table>
      <!-- <p class="text-center align-items-center" *ngIf="contacts.length === 0">
        <strong> No contacts available</strong>
      </p> -->
    </div>
  </div>
  <div class="pull-right">
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>

</div>


<div
  bsModal
  #model='bs-modal'
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign Task</h4>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="formGroupExampleInput">Task Title</label>
            <input type="text" class="form-control"  placeholder="Example input placeholder">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Task Discription:</label>
            <textarea
              rows="2"
              type="text"
              class="form-control"
              #tomessage
              placeholder="Enter the message.."
            ></textarea>
          </div>
          <div class="col-4 route-effective-calendar">
            <label>Effective Till</label>
            <app-date-time-picker [params]="params" (selectDate)="getDateSelection($event)">
            </app-date-time-picker>
        </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Worker:</label>
            <select  class="form-control" >
              <option [selected]="true" [disabled]="true">Please select</option>
              <option *ngFor="let cont of dropDown" [value]="cont._id">
                {{ cont.fullName }}</option
              >
            </select>
          </div>

        </form>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="Model.hide()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"

          >
            Add Task
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
