<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand ml-3" >DoodleBlue</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" (click)="isShown = !isShown"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: isShown }"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li>
          <a
            class="nav-link"
            [routerLink]="['/dashboard/manager/tasks']"
            routerLinkActive="active"
            >Tasks</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/dashboard/manager/users']"
            routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          (click)="Model.show()"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ userprofileDetails?.data?.fullName }}
        </button>
        <button class="btn btn-primary" (click)="logout()">
          Logout
        </button>
      </div>
      <div>
        <div
          bsModal
          #model="bs-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
        >
          <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Your Profile</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td class="text-left">Full Name</td>
                            <td>{{ userprofileDetails?.data?.fullName }}</td>
                          </tr>
                          <tr>
                            <td class="text-left">Email</td>
                            <td>{{ userprofileDetails?.data?.email }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="Model.hide()"
                  data-dismiss="modal"
                >
                  Okay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5">
  <div  class="taskModel">
    <span>
      <h4>
        <i class="fa fa-tasks" aria-hidden="true"></i> Welcome
        {{ userprofileDetails?.data?.fullName }}
      </h4>
    </span>
    <p>welcome to Users Portal</p>
    <div class="input-group">
      <input
        style="background-color: #e9ecef;"
        placeholder="Search By Name..."
        [(ngModel)]="searchvalue.fullName"
        class="form-control py-2 rounded-pill"
        type="search"
      />
      <span class="input-group-append">
        <button class="btn rounded-pill border-0 ml-n5" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="card-body" >
    <div class="table-responsive table-body">
      <table class="table table-bordered table-hover table-md">
        <thead class="thead-light" style="text-align: center;">
          <tr>
            <th>Full Name</th>
            <th>Email ID</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr
            *ngFor="
              let item of workersList
                | paginate: { itemsPerPage: 2, currentPage: p }
                | filterBy: searchvalue
            "
          >
            <td>
              {{ item.fullName }}
            </td>
            <td>
              {{ item.email }}
            </td>

            <td>
              <span style="max-width: 20px;">
                <label class="toggle-switch">
                  <input
                    type="checkbox"
                    class="switch-btn"
                    [checked]="item.status === 1"
                    (click)="handleStatus(item.fullName, item._id, item.status)"
                  />
                  <span class="slider round"></span>
                </label>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <p
        class="text-center align-items-center"
        *ngIf="(workersList | filterBy: searchvalue).length === 0"
      >
        <strong> No Workers available</strong>
      </p>
    </div>
  </div>
  <div class="pull-right">
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
