/*toggle switch css*/
.toggle-switch {
  position: relative;
  display : inline-block;
  width   : 45px;
  height  : 20px;
}

.toggle-switch .switch-btn {
  opacity: 0;
  width  : 0;
  height : 0;
}

.slider {
  position          : absolute;
  cursor            : pointer;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color  : #fff;
  -webkit-transition: 0.4s;
  transition        : 0.4s;
  border            : 1px solid #868686;
}

.slider:before {
  position          : absolute;
  content           : "";
  height            : 18px;
  width             : 18px;
  left              : 0px;
  background-color  : white;
  -webkit-transition: 0.4s;
  transition        : 0.4s;
}

.switch-btn:checked+.slider {
  background-color: #36b44b;
}

.switch-btn:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch-btn:checked+.slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform    : translateX(25px);
  transform        : translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
  border       : 1px solid #868686;
}


.taskModel{
  padding: 15px; max-width: 330px;
}

.card-body{
  padding: 10px;
}